html{
    width:100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

body{
    margin: 0;
    padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
    width: 100%;
}

.header{
	position:absolute;
	width: 100vw;
	margin-top: -3.2vw;
    text-align: center;
}

.title{
    width:92%;
    margin-left: 4%;
    margin-right:4%;
}

.video-background {
    /*  making the video fullscreen  */
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }

.suptitle{
    position:absolute;
    font-family: 'Geostar', cursive;
    margin-top: 12.46%;
    width:inherit;
    font-size: 3vw;
    text-align: center;
    color: #0892d0;
    font-weight: bold;
    text-shadow:
		-0vw -0vw 0 #0892d0,
		0vw -0vw 0 #0892d0,
		-0vw 0vw 0 #0892d0,
		0vw 0vw 0 #0892d0;
}

h1{
    position: absolute;
    font-family: 'Geostar', cursive;
    margin-top: 5%;
    width: inherit;
    font-size: 5vw;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    text-shadow:
		-0.1vw -0.1vw 0 #0892d0,
		0.1vw -0.1vw 0 #0892d0,
		-0.1vw 0.1vw 0 #0892d0,
		0.1vw 0.1vw 0 #0892d0;
}


.images{
    display: flex;
    padding-top: 17%;
    font-size: 5vw;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.main{
    margin-top: 10%;
    border-bottom: .10vw solid #0892d0;
    border-top: .10vw solid #0892d0;
}

.firstCircle{
    display: flex;
    font-size: 3vw;
    width: 100%;
    margin-top: 8.52%;
    position: absolute;
    justify-content: center;
    color: whitesmoke;
    z-index: 100;
}

.secondCircle{
    display: flex;
    font-size: 3vw;
    margin-top: 34.48%;
    width: 100%;
    position: absolute;
    justify-content: center;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}
.images a:hover {
    color: #0892d0;
}

#right{
    display: flex;
    position: absolute;
    font-size: 10vh;
    font-size: 5vw;
    margin-top: -58%;
    margin-left: -40%
}

#left{
    display: flex;
    position: absolute;
    font-size: 10vh;
    font-size: 5vw;
    margin-top: -58%;
    margin-left: -40%
}

.carousel-control-next{
	margin-top: 20.58%;
	width: 4vw;
	height: 4vh;
}
.carousel-control-prev{
	margin-top: 20.58%;
	width: 4vw;
	height: 4vh;
}

@media (max-width: 255px){
    .images{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 3%;
    }
}