body{
    margin: 0;
    padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
    width: 100%;
}

.title{
    width:92%;
    margin-left: 4%;
    margin-right:4%;
}

#video-background {
    /*  making the video fullscreen  */
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }

html{
    width: 100%;
}

.effect{
    position:absolute;
    font-family: 'Geostar', cursive;
    margin-top: 12.46%;
    width:inherit;
    font-size: 3vw;
    text-align: center;
    display: inline-block;
    color: #0892d0;
    text-shadow:
		-2px -1px 0 whitesmoke,
		2px -1px 0 whitesmoke,
		-2px 1px 0 whitesmoke,
		2px 1px 0 whitesmoke;
}

h1{
    position: absolute;
    font-family: 'Geostar', cursive;
    margin-top: 5%;
    width: inherit;
    font-size: 5vw;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-4px -4px 0 #0892d0,
		4px -4px 0 #0892d0,
		-4px 4px 0 #0892d0,
		4px 4px 0 #0892d0;
}


.images{
    display: flex;
    padding-top: 17%;
    font-size: 5vw;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.main{
    margin-top: 10%;
    border-bottom: .10vw solid #0892d0;
    border-top: .10vw solid #0892d0;
}

.firstCircle{
    display: flex;
    font-size: 3vw;
    width: 100%;
    margin-top: -1.48%;
    position: absolute;
    justify-content: center;
    color: whitesmoke;
}

.secondCircle{
    display: flex;
    font-size: 3vw;
    margin-top: 24.48%;
    width: 100%;
    position: absolute;
    justify-content: center;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}
.images a:hover {
    color: #0892d0;
}

.arrowsLeft :hover {
    color: #0892d0;
}

.arrowsRight :hover {
    color: #0892d0;
}

.arrowsLeft{
    display: flex;
    position: absolute;
    color: whitesmoke;
    width: 4%;
    margin-left:96%;
    justify-content: flex-end;
    margin-top: 11.28%;
    font-size: 10vh;
    font-size: 4vw;
}

.arrowsRight{
    position: absolute;
    color: whitesmoke;
    display: flex;
    width: 4%; 
    justify-content: flex-start;
    margin-top: 11.28%;
    font-size: 10vh;
    font-size: 4vw;
}



@media (max-width: 255px){
    .images{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 3%;
    }
}